In [16]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt
pd.set_option('display.max_column', 100 )

In [21]:
df = pd.read_csv('../databases/dados_enem_2021_BA.csv')

   NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  TP_ESTADO_CIVIL  \
0  210051128744    2021                4       F                1
1  210054173438    2021                5       F                1
2  210052118573    2021                3       F                1
3  210052350230    2021               10       F                1
4  210053156861    2021                9       M                1

   TP_COR_RACA  TP_NACIONALIDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU  TP_ESCOLA  \
0            3                 1                2                0          2
1            2                 1                2                0          2
2            3                 1                2                0          2
3            2                 1                1                8          1
4            2                 1                1                5          1

   TP_ENSINO  IN_TREINEIRO  CO_MUNICIPIO_ESC NO_MUNICIPIO_ESC  CO_UF_ESC  \
0        1.0             0               NaN              NaN        NaN
1        1.0             0         2927408.0         Salvador       29.0
2        1.0             0               NaN              NaN        NaN
3        NaN             0               NaN              NaN        NaN
4        NaN             0               NaN              NaN        NaN

  SG_UF_ESC  TP_DEPENDENCIA_ADM_ESC  TP_LOCALIZACAO_ESC  TP_SIT_FUNC_ESC  \
0       NaN                     NaN                 NaN              NaN
1        BA                     1.0                 1.0              1.0
2       NaN                     NaN                 NaN              NaN
3       NaN                     NaN                 NaN              NaN
4       NaN                     NaN                 NaN              NaN

   CO_MUNICIPIO_PROVA NO_MUNICIPIO_PROVA  CO_UF_PROVA SG_UF_PROVA  \
0             2927200        Ruy Barbosa           29          BA
1             2927408           Salvador           29          BA
2             2903201          Barreiras           29          BA
3             2928802      Santo Estêvão           29          BA
4             2910800   Feira de Santana           29          BA

   TP_PRESENCA_CN  TP_PRESENCA_CH  TP_PRESENCA_LC  TP_PRESENCA_MT  \
0               1               1               1               1
1               0               0               0               0
2               1               1               1               1
3               1               1               1               1
4               1               1               1               1

   CO_PROVA_CN  CO_PROVA_CH  CO_PROVA_LC  CO_PROVA_MT  NU_NOTA_CN  NU_NOTA_CH  \
0        909.0        881.0        892.0        899.0       507.6       539.2
1          NaN          NaN          NaN          NaN         NaN         NaN
2        912.0        882.0        891.0        901.0       439.6       437.7
3        911.0        880.0        890.0        902.0       548.1       619.5
4       1014.0       1000.0       1004.0       1010.0       465.2       613.1

   NU_NOTA_LC  NU_NOTA_MT                                TX_RESPOSTAS_CN  \
0       494.6       413.3  BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED
1         NaN         NaN                                            NaN
2       455.9       446.2  BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA
3       676.3       386.6  CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE
4       522.1       579.6  CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD

                                 TX_RESPOSTAS_CH  \
0  EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD
1                                            NaN
2  AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB
3  DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD
4  CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC

                                     TX_RESPOSTAS_LC  \
0  99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...
1                                                NaN
2  EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...
3  ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...
4  BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...

                                 TX_RESPOSTAS_MT  TP_LINGUA  \
0  BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE          1
1                                            NaN          0
2  EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE          0
3  CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA          0
4  CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA          0

                                  TX_GABARITO_CN  \
0  EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD
1                                            NaN
2  DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB
3  CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB
4  CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB

                                  TX_GABARITO_CH  \
0  BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA
1                                            NaN
2  EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB
3  BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC
4  BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC

                                      TX_GABARITO_LC  \
0  ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...
1                                                NaN
2  ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...
3  ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...
4  ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...

                                  TX_GABARITO_MT  TP_STATUS_REDACAO  \
0  EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB                1.0
1                                            NaN                NaN
2  DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE                1.0
3  ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA                1.0
4  ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA                1.0

   NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  NU_NOTA_COMP4  NU_NOTA_COMP5  \
0           80.0          120.0           80.0           80.0           20.0
1            NaN            NaN            NaN            NaN            NaN
2           80.0          120.0           80.0          100.0           80.0
3          120.0          120.0          100.0          120.0          120.0
4          100.0          120.0          100.0          120.0          100.0

   NU_NOTA_REDACAO
0            380.0
1              NaN
2            460.0
3            580.0
4            540.0

In [23]:
# quantidade de linhas x quantidade de colunas
df.shape

(266194, 51)

In [24]:
# súmario do dataset 
# número de valores não nulos, dtype de cada coluna, memory usage 
df.info()

In [ ]:
#verifica missing data
df.isna()

In [ ]:
# Súmario estatístico dos dados
# 25%: primeiro quartil
# 50%: segundo quartil
# 75%: terceiro quartil

df.describe().transpose()

In [ ]:
#Quantidade de valores unicos por coluna
df.unique().sort_values(ascending = True)

In [ ]:
# Selecionar multiplas colunas 

df.loc[:, ['TP_SEXO', 'TP_COR_RACA']]

In [ ]:
# .iloc[] : seleciona colunas pela posição
#sintaxe: df.iloc[linhas:colunas]

df.iloc[0:5, 0]

In [ ]:
# selecionar colunas por dtype

df.select_types('str')

In [ ]:
cat_cols = df.select_dtypes(include = object).columns.tolist()

In [25]:

num_cols = df.select_dtypes(include = [int, float]).columns.tolist()

In [26]:
num_cols

['NU_INSCRICAO',
 'NU_ANO',
 'TP_FAIXA_ETARIA',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'CO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TP_LINGUA',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO']

In [30]:
# media de notas de alunos de colégio público 
df.query('TP_ESCOLA == 2').NU_NOTA_MT.mean()

519.016313382275

In [31]:
# mediana de notas de alunos de colégio público 
df.query('TP_ESCOLA == 2').NU_NOTA_MT.agg([np.mean, np.median])

AttributeError: 'DataFrame' object has no attribute 'NU_NOTA_NT'